[submodule "schemas"]
	path = providers/Flagd/schemas
	url = https://github.com/tcarrio/schemas/
[submodule "providers/Flagd/schemas"]
	path = providers/Flagd/schemas
	url = https://github.com/tcarrio/schemas/
