parameters:
    tmpDir: ./build/cache/phpstan
    level: max
    paths:
        - ./src
        - ./tests
    excludePaths:
        - */tests/fixtures/*
        - */tests/*/fixtures/*
        # TODO: Implement gRPC Completely
        - ./src/grpc
